.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  box-sizing: border-box;
  width: 1120px;
  margin: 2rem auto;

  @media (max-width: 320px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 321px) and (max-width: 480) {
    grid-template-columns: repeat(3, 1fr);
  }
}
.loading {
  text-align: center;
  margin: 0 auto;
}
.title {
  margin-top: 10rem;
  text-align: center;
}
