.navbar{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid white;
  padding: .5rem 2rem;
}
.navbar ul{
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar ul li{
  margin-left: 2em;
  font-size: 1.5rem;
}