.container {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 1rem;

  background-image: linear-gradient(
    to right,
    var(--terciary),
    var(--quaternary),
    var(--terciary)
  );

  .navbar {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .links {
      display: flex;
      justify-content: space-between;
      width: 100%;

      h1 {
        font-weight: normal;
      }
      ul {
        display: flex;
        list-style: none;
        align-items: center;

        li {
          display: flex;
          justify-content: center;

          button {
            margin-right: 2em;
            font-size: 1.5rem;
            transition: 0.2s all;
            background: none;
            border: none;

            color: var(--white);
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
