.container {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 350px;
  width: 100%;
}

.searchbar {
  flex: 1;
  width: 100%;

  border: none;
  border-radius: 5px;
  padding: 0.5rem 3rem;
  font-size: 16px;

  &:focus {
    outline-color: var(--quaternary);
  }
}
.search_btn {
  cursor: pointer;
  background: none;
  border: none;
  transition: 0.2s all;

  position: absolute;
  left: -2px;
  top: 43px;

  color: darkgrey;

  &:hover {
  }
}
