.container {
  display: flex;
  flex-direction: column;

  position: absolute;
  right: -300px;
  top: 0;

  height: 100vh;
  margin: 0 auto;
  min-width: 200px;
  padding: 2rem;

  background-image: linear-gradient(
    var(--terciary),
    var(--quaternary),
    var(--terciary)
  );
  z-index: 10;

  transition: 0.2s all;

  .closeBtn {
    background-color: transparent;
    border: none;
    color: white;
    margin-left: auto;
    &:hover {
      cursor: pointer;
    }
  }
  .listBtn {
    display: flex;
    align-items: center;
    gap: 5px;

    background-color: transparent;
    border: none;
    color: white;
    font-size: 1rem;
    &:hover {
      cursor: pointer;
    }
  }
  .list {
    display: flex;
    flex-direction: column;
    gap: 10px;

    list-style: none;
    max-height: 450px;
    overflow: auto;
  }
}
.open {
  right: 0;
}
