.container {
  display: flex;
  flex-direction: column;

  position: absolute;
  right: -500px;
  top: 0;

  height: 100vh;
  margin: 0 auto;
  min-width: 300px;
  padding: 2rem;

  background-image: linear-gradient(
    var(--terciary),
    var(--quaternary),
    var(--terciary)
  );
  z-index: 10;

  transition: 0.2s all;

  .closeBtn {
    background-color: transparent;
    border: none;
    color: white;
    margin-left: auto;
    &:hover {
      cursor: pointer;
    }
  }
  .listBtn {
    display: flex;
    align-items: center;
    gap: 5px;

    background-color: transparent;
    border: none;
    color: white;
    font-size: 1rem;
    &:hover {
      cursor: pointer;
    }
  }
  .list {
    display: flex;
    flex-direction: column;
    gap: 15px;

    max-height: 450px;
    max-width: 250px;
    overflow: auto;
    li {
      position: relative;
      padding: 5px;
      transition: background-color 1s;

      border-radius: 6px;
      overflow: hidden;
      &:hover {
        cursor: pointer;
        //background-image: linear-gradient(to left, var(--primary), transparent);
      }
      &::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgb(172, 80, 242);
        background: linear-gradient(to left, var(--primary), transparent);
        transition: opacity 0.3s linear;
        z-index: -1; /* We'll come back to this */
        opacity: 0;
      }
      &:hover::before {
        opacity: 1;
      }
    }
  }
}
.open {
  right: 0;
}
