:root {
  --primary: rgb(171, 118, 54);
  --secondary: rgb(236, 177, 110);
  --terciary: rgb(23, 14, 2);
  
  //$primary : rgb(171, 118, 54);
  //$secondary : rgb(236, 177, 110);
  //$terciary : rgb(23, 14, 2);
  color: var(--terciary);
}

body {
  margin: 0;
  background-color: var(--primary);
  font-family: Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
// git commit -m "Refatored css files to scss"
