:root {
  --primary: #3a7ee4;
  --secondary: #1fb6b6;
  --terciary: #0e0626;
  --quaternary: #4c3b7c;
  --white: #fff;

  color: var(--white);
}

body {
  margin: 0;
  background-color: var(--terciary);
  font-family: "Comfortaa", sans-serif, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// git commit -m "Refatored css files to scss"
